@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /*text-rendering: optimizeSpeed;
  line-height: 1.5;*/
  font-family: 'Roboto', sans-serif;
}

.test1 {
  border: 1px solid red;
}

.test2 {
  border: 1px solid green;
}


/*header*/


.header {
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.wrapper {
  margin: 0 auto;
}

.wrapper_l {
  max-width: 1618px;
}

.wrapper_m {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.wrapper_sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 790px;
}

.header__content {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__h1_hidden {
  display: none;
}

ul {
  display: inline-block;
  list-style: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 573px;
}

.nav__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav__item:hover {
  font-weight: bolder;
}

.nav__item:active,
.nav__item:visited {
  color: #333;
}

.nav__item_active {
  font-weight: 900;
  text-decoration: underline;
  cursor: default;
}

/*.nav__item_active:hover{
  cursor: default;
}*/

.header__nav_item {
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}

.switch__input {
  display: none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: white;
  box-shadow: 2px 4px 15px rgb(6 12 70 / 15%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.switch__slider {
  background-color: #4f4f4f;
}

input:focus+.switch__slider {
  box-shadow: 0 0 1px #3f3f3f;
}

input:checked+.switch__slider:before {
  background-color: #1b1b1b;
  left: 2px;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch__slider_round {
  border-radius: 34px;
}

.switch__slider_round:before {
  border-radius: 50%;
}


/*watch-online section*/

.watch-online {
  width: 100%;
  height: 940px;
  background: url("../../assets/images/watch-online-bg.png") no-repeat;
  background-size: cover;
  position: relative;

  overflow-x: hidden;
}

.watch-online__wrapper {
  max-width: 1200px;
  padding-top: 206px;
}

.watch-online__head {
  width: 793px;
  height: 208px;
  margin-bottom: 37px;

  font-style: normal;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;

  color: #FEFEFE;
}

button {
  border: none;
  outline: none;
}

.watch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;

  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;

  transition: 0.2s;
}

.watch-button__text {
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  color: #fff;
}

.watch-button:hover,
.buttton:hover {
  background: linear-gradient(106.89deg, rgb(66, 190, 159) -14.32%, #45c9d3 100.68%);
  transition: 0.2s;
  cursor: pointer;
}

.watch-online__slider {
  position: absolute;
  bottom: 110px;
  right: -45px;
  width: 989px;
  /*945*/
}

.slider__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.slider__item {
  position: relative;
  width: 140px;
  height: 203px;
}

.slider__item:hover {
  cursor: pointer;
}

.slider__item_active {
  position: relative;
  width: 245px;
  height: 352px;
  margin-top: -29px;
}

.slider__line-img {
  position: absolute;
  right: 0;
  left: -135px;
  top: 156px;
  z-index: 0;
}

.slider__item_text {
  position: absolute;
  bottom: 34px;
  max-height: 0;
  overflow: hidden;
  width: 190px;
  /*197*/
  height: 86px;
  margin-right: 23px;
  margin-left: 25px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #fff;

  transition: all 0.5s;
}

.slider__btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  text-align: center;
  text-transform: uppercase;
}

.slider__watch-btn_green {
  color: #4BD8B5;
}

.slider__watch-btn_white {
  color: #fff;
}

.slider__btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.slider__btn-icon {
  margin-right: 2px;
}

.range {
  width: 245px;
}

.watch-online__range {
  margin-top: 20px;
  padding-left: 185px;
}

.range__text {
  width: 245px;

  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
}

.range__text_light {
  color: #bdbdbd;
}

.range__text_dark {
  color: #bdbdbd;
}

.range__span {
  font-size: 24px;
  line-height: 28px;
}

.range__span_light {
  color: #FEFEFE;
}

.range__span_dark {
  color: #333;
}

.range__input {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
  outline: none;
  /*opacity: 0.6;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range__input_light {
  background: #bdbdbd;
}

.range__input_dark {
  background: rgba(189, 189, 189, 0.57);
  ;
}

.range__input:hover {
  opacity: 1;
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 10px;
  cursor: pointer;
}

.range__input_light::-webkit-slider-thumb {
  background: #fefefe;
}

.range__input_dark::-webkit-slider-thumb {
  background: #333;
}

.range__input_large::-webkit-slider-thumb {
  width: 62px;
}

.range__input::-moz-range-thumb {
  width: 30px;
  height: 10px;
  cursor: pointer;
}

.range__input_light::-moz-range-thumb {
  background: #fefefe;
}

.range__input_dark::-moz-range-thumb {
  background: #333;
}

.range__input_large::-moz-range-thumb {
  width: 62px;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 330px;
}

.socials__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px;
}


/*how-it-works section*/


.how-it-works {
  height: 883px;
  padding-top: 100px;

  background: #fbfbfb;
}

.how-it-works__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 682px;
}

.head_h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;

  color: #333;
}

.how-it-works_head {
  width: 100%;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #4f4f4f;
}


/*our-inspiration section*/

.our-inspiration {
  height: 413px;
  padding-top: 100px;

  background: #f2f2f2;
}

.our-inspiration__wrapper {
  justify-content: space-between;
}

.our-inspiration__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
}

.head_h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #333333;
}

.our-inspiration__head {
  margin: 15px 0;
}

/*pets-in-zoo section*/

.pets-in-zoo {
  height: 854px;
  padding-top: 100px;

  background: #fbfbfb;
}

.pets-in-zoo__wrapper {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 654px;
}

.pets-in-zoo__head {
  text-align: center;
}

.pets-in-zoo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 478px;
  margin-top: 5px;
}

.pets-in-zoo__slider {
  display: flex;
  align-items: center;
}

.left-arrow {
  position: relative;
  padding-right: 20px;
}

.right-arrow {
  position: relative;
  margin-left: 20px;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}

.pets-in-zoo__slider-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.pets-in-zoo__slider-item {
  background-color: black;
  border-radius: 5px;
  position: relative;
  width: 277px;
  height: 399px;
}

.pets-in-zoo__slider-item:hover .pets-in-zoo__slider-img{
  cursor: pointer;
  opacity: 0.6;
}

.pets-in-zoo__slider-item:hover .slider__item_text{
  max-height: 200px;
}

.pets-in-zoo__slider-img{
  transition: all 0.5s;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;

  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
}

.button-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}